/* SKIP TO CONTENT */

.skipToContent {
	display: inline-block;
	padding: 1rem;
	font-size: 1rem;
	background: $light;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(-80px);
	transition: transform 500ms;

	&:focus {
		transform: translateY(0px);
	}
}

/* BREADCRUMBS */

.breadcrumb {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	font-weight: 700;

	li {
		list-style: none;
		display: inline-block;
	}

	a {
		display: inline-block;
	}

	li:not(:last-child) a:after {
		display: inline-block;
		content: "\203A";
		color: $secondary-light-color;
		font-size: 1.5rem;
		padding: 0 .5rem 0 .75rem;
	}
}

/* TIP BOX */

.tip {
	margin: 3rem 0;
	padding: 3rem 1rem 1rem 1rem;
	background: $light;
	border: 2px solid $secondary-light-color;
	border-radius: 0 15px 15px 15px;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .2);
	position: relative;

	.tip-title {
		margin: 0;
		font-size: 1.3rem;
		color: $text-on-dark-color;
		text-transform: uppercase;
		letter-spacing: 2px;
		background: $secondary-light-color;
		padding: .5rem;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* FIGURE AND FIGURE CAPTION */

figure {
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	background: $light;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, .2);

	img {
		width: 100%;
	}

	figcaption {
		font-size: 1rem;
	}

}

/* PRE */

pre {
	background: lighten($secondary-light-color, 40%);
	padding: 1.5rem;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* FORMS */

.wrongForm,
.rightForm {
	padding: 1.5rem;
	background: $light;
	box-sizing: border-box;
}

.formButton {
	display: block;
	border-radius: 10px;
	padding: .75rem 2rem;
	margin-top: 2rem;
	border: none;
	background: $secondary-dark-color;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: $text-on-dark-color;

	&:disabled {
		opacity: .5;
	}
}

.wrongForm {
	
	input {
		display: block;
		font-family: 'Roboto', sans-serif;
		font-size: 1.2rem;
		padding: 0.75rem;
		margin-bottom: 1rem;
		width: 100%;
		box-sizing: border-box;
		border: 1px solid $secondary-light-color;
	}
}

.rightForm {

	label {
		font-weight: 700;
		display: block;
		padding: .5rem 0;

		span {
			font-weight: normal;

			&.required {
				color: $link-color;
			}

			&.optional {
				color: $secondary-color;
			}
		}		
	}
	
	input {
		display: block;
		border: 1px solid $secondary-light-color;
		font-family: 'Roboto', sans-serif;
		font-size: 1.2rem;
		padding: 0.75rem;
		margin-bottom: 1rem;
		width: 100%;
		box-sizing: border-box;

		&:focus {
			outline: 3px solid $secondary-dark-color;
		}

		&[aria-invalid=true] {
			border: 1px solid $link-color;
		}
	}

}
