// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$primary-color: #283593;
$primary-light-color: #5f5fc4;
$primary-dark-color: #001064;

$secondary-color: #ad1457;
$secondary-light-color: #e35183;
$secondary-dark-color: $78002e;

$dark-grey: #E1E2E1;
$light-grey: #F5F5F6;

$text-color: #222;
$text-on-dark-color: $FFF;

$link-color: $secondary-dark-color;
$link-hover-color: $secondary-color;