// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 750px)";
$desktop: "(min-width: 900px)";

// Colors

$primary-color: #6a1b9a;
$primary-light-color: #9c4dcc;
$primary-dark-color: #38006b;

$secondary-color: #37474f;
$secondary-light-color: #62727b;
$secondary-dark-color: #102027;

$dark: #000;
$light: #FFF;

$dark-grey: #ECECEC;
$light-grey: #F5F5F6;

$text-color: #222;
$text-on-dark-color: #FFF;

$link-color: #8c0032;
$link-hover-color: #c2185b;