<!DOCTYPE HTML>
<html dir="ltr" lang="pt-br">
  <head>
    <title>{{ page.title }} - {{ site.name }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <main id="mainContent">
    	<div class="content-header">
    		<div class="wrapper">
        	<h1>{{page.title }}</h1>
    		</div>
    	</div>
      <div class="content-body{% if page.id %} {{ page.id }}{% endif %}">
      	<div class="wrapper">
        	{{ content }}
      	</div>
      </div>
    </main>
    {% include examplesList.html %}
    {% include footer.html %}
  </body>
</html>